* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: bisque;
}
h1 {
    background: grey;
    padding: 25px;
}
main {
    padding: 10px;
}
div {
    background: gainsboro;
    height: 200px;
    width: 300px;
    margin: 20px;
    display: inline-block;
    border
}
.box1 {
    border: 5px dotted;
}
.box2 {
    border: 5px double blue;
}
.box3 {
    border-style: groove;
    border: 15px double brown;
 /*   border-color: brown; */
}