@import url("https://fonts.googleapis.com/css?family=Poppins");

body, html {
    height: 100%;
}

.hero-osio {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("BC.jpg");
    background-size: cover;
    height: 100%; 
    color: white;
    font-family: "Poppins";
    padding: 15px;
  }

  .logo {
    float:right;
  }

  .about-text {
    color: white;
    font-family: "Poppins";
    margin: 20px;
  }

  .with-icon::before {
    content: "\2705"; 
    margin-right: 10px; 

   /* display: inline-block; 
    width: 10px; 
    height: 10px; 
    background-image: url('checkbox1.png');
    background-size: cover;
    margin-right: 10px; 
    vertical-align: middle; */
  }

  .icon-list {
    list-style-type: none;
  }

.apply-button {
    margin: 10px;
}

  .apply-button:hover {
    background-color: #45a049; 
    opacity: 1.5;
    transform: scale(1.2);
  }